<ion-header>

  <ion-navbar>
    <ion-title>签到详情</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label *ngIf="type==3">允许签到时间：{{attendancePlan.ATPL013}}</ion-label>
      <ion-label *ngIf="type==4">允许签到时间：{{attendancePlan.ATPL014}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>签到时间：{{work.MTSI005|date:'yyyy-MM-dd HH:mm:ss'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="white-space: normal!important;">所在位置：<span>{{work.MTSI006}}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="white-space: normal!important;">签到说明：<span>{{work.MTSI010}}</span></ion-label>
    </ion-item>
    <li *ngIf="work.MTSI011==2||work.MTSI008==3||work.MTSI008==4"
        style="float: left;width: 100%;border-bottom: 1px solid #cfcfcf;">
      <div style="position:relative;float: left;" *ngFor="let item of imageDataitem">
        <img [src]="item.sipi003|coverPath" class="img001" (click)="bigImg(item.sipi003)">
      </div>
      <div style="width:100%" *ngIf="thisbigImg" (click)="bigImg()">
        <img [src]="thisbigImg|coverPath">
      </div>
    </li>
  </ion-list>
</ion-content>
