<!--
  Generated template for the BanjixiangcePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>班级相册</ion-title>
    <span style="float:right;cursor:pointer;" (click)="Changeimage()" *ngIf="isflag == true ">上传</span>
    <span style="float:right;cursor:pointer;" (click)="clickShowUserPhoto()" *ngIf="isflag == true ">我的</span>
    <span style="float:right;cursor:pointer;" (click)="clicktodelete()" *ngIf="isflag == false">删除</span>
  </ion-navbar>

</ion-header>


<ion-content>

  <div style="width:100%;margin-bottom: 10%;float: left;">
    <ul class="box" *ngFor="let fitem of items;let i = index">
      <li class="box_li_01" style="color:#373737;margin:5% 0;" *ngIf=" i==0 || (fitem.TRPH007N | dateDifferencePipe:(items[i-1]).TRPH007N)">
        {{fitem.TRPH007N|date:'yyyy-MM-dd'}}
      </li>
      <li class="imgbox">
        <ul >
          <li >
            <img src="" alt="">{{fitem.TRPH003}}
          </li>
        </ul>
      </li>
      <!--[class]="dto.isPic == 1?'showBorder':'showBorder2'"  (click)="choosePic(dto)"-->
    </ul>

  </div>


  <ion-infinite-scroll (ionInfinite)="doInfinite3($event)" style="float: left">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--<div class="box_fo" *ngIf="box_fo_isShow == true">没有更多了</div>-->
  <!--[hidden]="!"-->

</ion-content>
