page-record {

  .listbar {
    width:100%;
    height:55px;
    border-bottom:1px solid #ccc;
    padding-top:3px;
    font-size:13px;
  }
  .listleft{
    float: left;
    width:45px;
    height:45px;
    background:red;
    margin:3px 15px 0 5px;
  }
  .special{
    margin-bottom:7px;
  }
  .listright{
    float: left;
  }
  .height {
    height:73px !important;
  }
}
