page-my-info {

  *{letter-spacing:1px;}
  .xinxi{
    height: 120px;
    width: 100%;
    background-color: #fff;
    margin-top:14px;
    font-size: 15px;
    line-height: 60px;
    padding: 0 1rem;
  }

  .icon{
    font-size: 18px;
    position: relative;
    top: 6px;
  }
  .ziliao{
    float: left;

  }
  .mine{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-top:10px;
  }
  .zl-rig{
    float: right;
    line-height: 60px;
  }
  .right {
    float: right;
    color:#9b9b9b;
    position: relative;
    top: 11px;
    margin-top:10px;
  }
  .line{
    border-bottom:1px dashed #e9e7e7;
    width: 100%;
    padding-top: 60px;
  }
  .data{
    float: right;
    margin-right: 1rem;
  }

  .data1{
    float: right;
    margin-right: 1rem;
    width: 74%;
    height: 58px;
    line-height: 38px;
  }

  .sex{
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-top: 14px;
    line-height: 60px;

  }
   .sex .ion-ios-arrow-forward{
    display:none;
  }
  .text-input-ios{
    text-align: right;
    border: 1px solid #00c4ff;
  }


}
