page-changepassword {



  .number{
    border: 1px solid #eeeeef;
    height: 40px;
    width:100%;
    border-radius: 4px;
    line-height: 40px;
    z-index: 2;
    margin-bottom: 10px;
    letter-spacing:1px;
  }
  .text-num{
    width: 49%;
    height: 38px;
    padding:0 1rem;
    display: inline;
  }
  #text-numo{
    float:left;
    border-radius: 4px;
    color: #383838;
  }
  #text-numt{
    float:right;
  }
  .line{
    color :#eeeeef;
  }
  #text-newo{
    float:left;
    border-radius: 4px;
    color: #383838;
  }
  #text-newt{
    float:right;
  }
  #text-yano{
    float:left;
    border-radius: 4px;
    color: #383838;
  }
  #text-yant{
    float:right;
  }

  .err{
    color:#f74c31;
    font-size: 1.3rem;
    margin-left:1rem;

  }

}
