page-jiechuhaoyou {

  .addjob{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d2cece;
    line-height: 50px;
    padding: 0 15px;
    background: #fff;
    color: RGB(109, 191, 212);
  }

  .font{
    color:#787878!important;
  }

  .wuxian{
    display: inline-block;
    width: 17%;
    height: 100%;
    float: right;
    color:#373737;
  }
}
