page-exam-exercises-detail {
  .body_content{
    background-color: #EFEFEF;
  }

  .body_content .ion-grid{
    background-color: color($colors, light);
  }

  .colSize{
    font-size: 1.3rem;
    color: #877e7e;
  }
}
