page-contact-group-chat-message-setup {
  .tubiao{
    color:#999999;
  }
.div03{
     margin-top: 25px;
}
  .div02{
    margin-top: 20px;
  }
  .peopleItem{
    cursor: pointer;
  }
  ion-item{
    float: left;
  }
  .div00{
    padding: 7px;
    float: left;

  }
  .text{
    font-size: 3px;
  }
}
