page-lvli {


  #text {
    background-color: #f2f6f9;

  }
  .peixun{
    height: 60px;
    width: 100%;
    background-color: #fff;
    margin-top: 13px;
    padding:10px 16px 10px 16px;
  }
  p{
    line-height:20px;
    color: #9b9b9b;
  }








}
