<!--
  Generated template for the WorkHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>干部绩效考核系统</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <nav>
    <ul >
      <li id="top1">
        <img style="height: 100%;" src="././assets/imgs/work/home/top2.png">
      </li>
      <li class="main_1">
        <span class="main_1_1">待办事宜</span>
      </li>
      <li class="main_2">
        <ul class="tubiao">
          <li>
            <a href="javacript:;" [navPush]="WaitconfirmPage" [navParams]="identity">
              <p>
              <span *ngIf="noReaderFactNumber>=1" class="tixing"><span class="ziti">{{noReaderFactNumber}}</span></span>
              <img src="./assets/imgs/work/home/wait_1.png" alt="" />
              </p>
              <span>待我确认</span>
            </a>
          </li>
          <li>

            <a href="javacript:;" [navPush]="TaskListPage">
              <p>
              <span *ngIf="noReaderTaskNumber>=1" class="tixing"><span class="ziti">{{noReaderTaskNumber}}</span></span>
                <img src="./assets/imgs/work/home/wait_2.png" alt="" />
              </p>
              <span>本周任务</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="WeekmeetingPage">
              <p>
               <span *ngIf="noReaderMeetNumber>=1" class="tixing"><span class="ziti">{{noReaderMeetNumber}}</span></span>
                <img src="./assets/imgs/work/home/wait_3.png" alt="" />
              </p>
              <span>本周会议</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="main_3">
        <span class="main_3_1">我的纪实</span>
      </li>
      <li class="main_4">
        <ul class="tubiao">
          <li>
            <a href="javacript:;" [navPush]="DutydocPage">
              <p><img src="./assets/imgs/work/home/facts_1.png" alt="" /></p>
              <span>履职纪实</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="AchievdocPage">
              <p><img src="./assets/imgs/work/home/facts_2.png" alt="" /></p>
              <span>实绩纪实</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="ProblemdocPage">
              <p><img src="./assets/imgs/work/home/facts_3.png" alt="" /></p>
              <span>问题纪实</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" (click)="factsReport()">
              <p><img src="./assets/imgs/work/home/facts_4.png" alt="" /></p>
              <span>纪实上报</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="main_5">
        <span class="main_5_1">工作助手</span>
      </li>
      <li class="main_6">
        <ul class="tubiao">
          <li>
            <a href="javacript:;" [navPush]="AttendanceCheckinPage">
              <p><img src="./assets/imgs/work/home/assistant_1.png" alt="" /></p>
              <span>出勤签到</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="TasklistPage">
              <p><img src="./assets/imgs/work/home/assistant_2.png" alt="" /></p>
              <span>任务签到</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="ConferencelistPage">
              <p><img src="./assets/imgs/work/home/assistant_3.png" alt="" /></p>
              <span>会议签到</span>
            </a>
          </li>
          <li>
            <a href="javacript:;" [navPush]="TaskevaluationPage">
              <p><img src="./assets/imgs/work/home/assistant_4.png" alt="" /></p>
              <span>评价</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
</ion-content>
