<!--
  Generated template for the ContactGroupSearchersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的工作组</ion-title>
    <ion-buttons end style="width: 50%;" >
      <button  ion-button small (click)="createGroup()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content padding>
   <ion-searchbar class="searchbar-ios-dark"
                 [(ngModel)]="myInput"
                 animated = 'true'
                 (ionFocus)="ionFocus()"
                 (ionInput)="ionInput($event)"
                 cancelButtonText="取消"
                 showCancelButton="true"
                 (ionCancel)="ionCancel($event)"
                 (ionClear)="ionClear()"
                 placeholder='搜索'>
   </ion-searchbar>

  <ion-card *ngIf="unRecord">
    <ion-card-header text-center>
      暂无相关记录！
    </ion-card-header>
  </ion-card>



      <ion-list>
      <div *ngFor="let item of groupList">
        <ion-item-sliding>
        <ion-item class="item ng-binding peopleItem" (click)="groupChat(item)">
          <div  class="peopleItem" >
            <!--<img class="img"  src="{{item.GROU008 | coverHeadImpPath}}" />-->
            <img style="margin-left: 4%;" class="img"  src="./assets/imgs/wwww.jpg" />
            <span class="text">{{item.GROU002}}</span>
            <span style="position: absolute; bottom: 15px; left: 82%;">{{item.groupTotalNum}}人</span>
          </div>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button danger class="button02" (click)="clickItem02(item)">
            <ion-icon name="">&nbsp;&nbsp;删&nbsp;除&nbsp;&nbsp;</ion-icon>
          </button>
        </ion-item-options>

        </ion-item-sliding>

      </div>
      </ion-list>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
